{
  "AdvancedProtectionAllowed": false,
  "AlternateErrorPagesEnabled": false,
  "AutofillCreditCardEnabled": false,
  "AuthNegotiateDelegateAllowlist": "*.${domain}",
  "AuthServerAllowlist": "*.${domain}",
  "BackgroundModeEnabled": false,
  "BlockThirdPartyCookies": true,
  "BrowserGuestModeEnabled": false,
  "BrowserLabsEnabled": false,
  "BrowserNetworkTimeQueriesEnabled": false,
  "BrowserSignin": 0,
  "CloudPrintProxyEnabled": false,
  "CloudReportingEnabled": false,
  "DefaultBrowserSettingEnabled": false,
  "DefaultCookiesSetting": 1,
  "DnsOverHttpsMode": "off",
  "EnableAuthNegotiatePort": true,
  "EnableMediaRouter": false,
  "MetricsReportingEnabled": false,
  "NetworkPredictionOptions": 2,
  "PasswordManagerEnabled": false,
  "PaymentMethodQueryEnabled": false,
  "PrivacySandboxAdMeasurementEnabled": false,
  "PrivacySandboxAdTopicsEnabled": false,
  "PrivacySandboxPromptEnabled": false,
  "PrivacySandboxSiteEnabledAdsEnabled": false,
  "PromotionalTabsEnabled": false,
  "SafeBrowsingProtectionLevel": 0,
  "SearchSuggestEnabled": false,
  "SyncDisabled": true,
  "TranslateEnabled": false,
  "UrlKeyedAnonymizedDataCollectionEnabled": false,
  "ManagedBookmarks": [
    {
      "toplevel_name": "Internal"
    },
    {
      "name": "Bitwarden",
      "url": "https://bitwarden.${domain}/"
    },
    {
      "name": "CUPS",
      "url": "https://cups.${domain}/"
    },
    {
      "name": "DAViCal",
      "url": "https://dav.${domain}/"
    },
    {
      "name": "Icinga",
      "url": "https://icinga.${domain}/"
    },
    {
      "name": "Invidious",
      "url": "https://invidious.${domain}/"
    },
    {
      "name": "Poudriere",
      "url": "http://pkg.${domain}/poudriere"
    },
    {
      "name": "Rspamd",
      "url": "https://smtp.${domain}/"
    },
    {
      "name": "Tiny Tiny RSS",
      "url": "https://ttrss.${domain}/"
    },
    {
      "name": "UniFi Controller",
      "url": "https://unifi.${domain}/"
    },
    {
      "name": "ZNC",
      "url": "https://znc.${domain}/"
    }
  ],
  "ExtensionSettings": {
    "cjpalhdlnbpafiamejdnhcphjbkeiagm": {
      "installation_mode": "force_installed",
      "update_url": "https://clients2.google.com/service/update2/crx"
    },
    "nngceckbapebfimnlniiiahkandclblb": {
      "installation_mode": "normal_installed",
      "update_url": "https://clients2.google.com/service/update2/crx"
    },
    "cimiefiiaegbelhefglklhhakcgmhkai": {
      "installation_mode": "$(if [ "${desktop_type:-}" = kde ]; then echo normal_installed; else echo allowed; fi)",
      "update_url": "https://clients2.google.com/service/update2/crx"
    }
  },
  "3rdparty": {
    "extensions": {
      "cjpalhdlnbpafiamejdnhcphjbkeiagm": {
        "toOverwrite": {
          "filterLists": [
            "user-filters",
            "ublock-filters",
            "ublock-badware",
            "ublock-privacy",
            "ublock-quick-fixes",
            "ublock-unbreak",
            "easylist",
            "easyprivacy",
            "adguard-spyware-url",
            "urlhaus-1",
            "plowe-0",
            "fanboy-cookiemonster",
            "ublock-cookies-easylist",
            "fanboy-thirdparty_social",
            "ublock-annoyances"
          ]
        },
        "toAdd": {
          "trustedSiteDirectives": [
            "$(join '","' "$domain" $ublock_whitelist)"
          ]
        }
      }
    }
  }
}
