{
  "policies": {
    "ExtensionSettings": {
      "uBlock0@raymondhill.net": {
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi",
        "installation_mode": "force_installed"
      },
      "{446900e4-71c2-419f-a6a7-df9c091e268b}": {
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/bitwarden-password-manager/latest.xpi",
        "installation_mode": "normal_installed"
      },
      "{9cbd40c5-5275-443e-811b-dc57d8c7c5d2}": {
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/kde-default-breeze/latest.xpi",
        "installation_mode": "normal_installed"
      },
      "plasma-browser-integration@kde.org": {
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/plasma-integration/latest.xpi",
        "installation_mode": "normal_installed"
      },
      "floccus@handmadeideas.org": {
        "install_url": "https://addons.mozilla.org/firefox/downloads/latest/floccus/latest.xpi",
        "installation_mode": "normal_installed"
      }
    },
    "3rdparty": {
      "Extensions": {
        "uBlock0@raymondhill.net": {
          "toOverwrite": {
            "filterLists": [
              "user-filters",
              "ublock-filters",
              "ublock-badware",
              "ublock-privacy",
              "ublock-quick-fixes",
              "ublock-unbreak",
              "easylist",
              "easyprivacy",
              "adguard-spyware-url",
              "urlhaus-1",
              "plowe-0",
              "fanboy-cookiemonster",
              "ublock-cookies-easylist",
              "fanboy-thirdparty_social",
              "ublock-annoyances"
            ]
          },
          "toAdd": {
            "trustedSiteDirectives": [
              "$(join '","' "$domain" $ublock_whitelist)"
            ]
          }
        }
      }
    },
    "UserMessaging": {
      "WhatsNew": false,
      "ExtensionRecommendations": false,
      "UrlbarInterventions": false,
      "SkipOnboarding": true
    },
    "OverridePostUpdatePage": "",
    "OverrideFirstRunPage": "",
    "EnableTrackingProtection": {
      "Value": false,
      "Cryptomining": false,
      "Fingerprinting": false,
      "Locked": false
    },
    "Cookies": {
      "Behavior": "reject-tracker-and-partition-foreign",
      "BehaviorPrivateBrowsing": "reject-tracker-and-partition-foreign"
    },
    "Authentication": {
      "SPNEGO": ["${domain}"],
      "AllowNonFQDN": {
        "SPNEGO": true
      },
      "AllowProxies": {
        "SPNEGO": true
      }
    },
    "NoDefaultBookmarks": true,
    "DisablePocket": true,
    "DisableAppUpdate": true,
    "CaptivePortal": false,
    "Certificates": {
      "Install": [
        "${site_cacert_path}"
      ]
    },
    "DisableFeedbackCommands": true,
    "DisableFirefoxAccounts": true,
    "DisableFirefoxStudies": true,
    "DisableTelemetry": true,
    "DontCheckDefaultBrowser": true,
    "OfferToSaveLoginsDefault": false,
    "DNSOverHTTPS": {
      "Enabled": false
    },
    "SearchSuggestEnabled": false,
    "Homepage": {
      "URL": "about:home",
      "StartPage": "homepage"
    },
    "SearchEngines": {
      "Add": [
        {
          "Name": "ddg-noai",
          "URLTemplate": "https://noai.duckduckgo.com/?q={searchTerms}",
          "Method": "GET",
          "IconURL": "https://duckduckgo.com/favicon.ico",
          "Alias": "ddg",
          "Description": "DuckDuckGo (No AI)",
          "SuggestURLTemplate": "https://duckduckgo.com/ac/?q={searchTerms}&type=list"
        }
      ],
      "Default": "ddg-noai"
    },
    "FirefoxHome": {
      "Search": true,
      "TopSites": false,
      "SponsoredTopSites": false,
      "Highlights": false,
      "Pocket": false,
      "SponsoredPocket": false,
      "Snippets": false
    },
    "ManagedBookmarks": [
      {
        "toplevel_name": "Intranet"
      },
      {
        "name": "Bitwarden",
        "url": "https://bitwarden.${domain}/"
      },
      {
        "name": "CUPS",
        "url": "https://cups.${domain}/"
      },
      {
        "name": "DAViCal",
        "url": "https://dav.${domain}/"
      },
      {
        "name": "Git (External)",
        "url": "https://git.${email_domain}/"
      },
      {
        "name": "Git (Internal)",
        "url": "https://git.${domain}/"
      },
      {
        "name": "Icinga",
        "url": "https://icinga.${domain}/"
      },
      {
        "name": "Invidious",
        "url": "https://invidious.${domain}/"
      },
      {
        "name": "Matrix",
        "url": "https://matrix.${email_domain}/"
      },
      {
        "name": "Poudriere",
        "url": "http://pkg.${domain}/poudriere"
      },
      {
        "name": "Rspamd",
        "url": "https://smtp.${domain}/"
      },
      {
        "name": "Tiny Tiny RSS",
        "url": "https://ttrss.${domain}/"
      },
      {
        "name": "UniFi Controller",
        "url": "https://unifi.${domain}/"
      },
      {
        "name": "ZNC",
        "url": "https://znc.${domain}/"
      }
    ],
    "ExtensionUpdate": true,
    "Preferences": {
      "dom.security.https_only_mode": {
        "Value": true,
        "Status": "locked"
      },
      "dom.push.connection.enabled": {
        "Value": false,
        "Status": "default"
      },
      "browser.urlbar.suggest.quicksuggest.nonsponsored": {
        "Value": false,
        "Status": "locked"
      },
      "browser.urlbar.suggest.quicksuggest.sponsored": {
        "Value": false,
        "Status": "locked"
      },
      "browser.toolbars.bookmarks.visibility": {
        "Value": "newtab",
        "Status": "default"
      },
      "browser.safebrowsing.malware.enabled": {
        "Value": false,
        "Status": "locked"
      },
      "browser.safebrowsing.phishing.enabled": {
        "Value": false,
        "Status": "locked"
      },
      "browser.safebrowsing.downloads.enabled": {
        "Value": false,
        "Status": "locked"
      },
      "browser.newtabpage.activity-stream.feeds.section.topstories": {
        "Value": false,
        "Status": "locked"
      },
      "media.cubeb.backend": {
        "Value": "oss",
        "Status": "locked"
      }
    }
  }
}
