[General]
DisplayServer = x11

# Alt-F2 (krunner) freezes the entire session under wayland.
# https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=286592
[Wayland]
SessionDir = /dev/null

[Users]
MinimumUid = ${sddm_min_uid}
MaximumUid = ${sddm_max_uid}
